#header {
    height: 3;

    background: grey;
    color: white;
    layout: horizontal;
}
.header {
    height: 100%;
    width: 1fr;
}
#klippy_status {
    padding: 1 1;
}
#emergency_stop {
    width: 20;
}

#home_buttons {
    height: 3;
    layout: horizontal;
}
.home_button {
    width: 1fr;
    min-width: 10;

    height: 3;
}


#klippy_status {
    width: 3;
}
#temps {
    height: 100%;
    width: 1fr;
}
#right {
    height: 100%;
    width: 1fr;
}

Powerbar {
    width: 100%;
    overflow-x: hidden;
    height: 1;
    color: red
}




.temp_label {
    width: 15;
}
.temp_input {
    width: 1fr;
}
.temperature {
    height: 4
}